---
layout: default
title: Writing
subtitle: What I've been working on lately.
description: Books, book review, articles, white papers, interviews.
featured_image: /images/left-panel/writing.jpg
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="portfolio">

	<div class="wrap">

	{% assign writing = site.writing | sort: date | reverse %}
	{% for artifact in writing %}
		{% capture this_type %}{{ artifact.type }}{% endcapture %}
		{% capture next_type %}{{ artifact.next.type }}{% endcapture %}
		
			{% if this_type != next_type or forloop.first %}
			<h2 id="{{ this_type }}-ref">{{ this_type | capitalize}}</h2>
			{% endif %}	

			<div class="portfolio-item">

				<a class="portfolio-item__link" href="{{ artifact.url | relative_url }}">
	
					<div class="portfolio-item__image" style="background-image: url({{ artifact.featured_image | relative_url }});"></div>
	
					<div class="portfolio-item__content">
						<div class="portfolio-item__info">
							<h2 class="portfolio-item__title">{{ artifact.title }}</h2>
							<p class="portfolio-item__subtitle">{{ artifact.type | capitalize }}</p>
						</div>
					</div>
				</a>
	
			</div>
	{% endfor %}

	</div>

</section>