---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<div style="border-color: #b7b7b7; border-style: solid; padding: 30px 20px 30px 20px; margin: 0px 15% 20px 20px; float: right;" class="col-12 col-sm-12 col-md-8 col-lg-4">
			{% if page.workshopSingleLocation %}
			<h4>Information:</h4>
			<ul style="list-style: disc;">
				<li><strong>Date:</strong> {{ page.workshopDate }}</li>
				<li><strong>Time:</strong> {{ page.workshopTime }}</li>
				<li><strong>Location:</strong> {{ page.workshopLocation }}</li>
				<li><strong>Price:</strong> {{ page.workshopPrice }}</li>
			</ul>
			<br />
			<a href="{{ page.workshopTickets }}" class="button" style="margin-left: 10%;">Buy now</a>
			<a href="/contact" class="button" style="text-transform: none;">Contact for in-company</a>
			{% else %}
				{% for workshop in page.workshopLocations %}
				<h5><b>{{ workshop.location }}</b></h5>
				<ul style="list-style: disc;">
					<li><strong>Date:</strong> {{ workshop.date }}</li>
					<li><strong>Time:</strong> {{ workshop.time }}</li>
					<li><strong>Location:</strong> <a href="{{ workshop.venueLink }}" target="_blank">{{ workshop.venue }}</a></li>
					<li><strong>Price:</strong> {{ workshop.price }}</li>
				</ul>
				<br />
				<a href="{{ workshop.tickets }}" class="button" style="margin-left: 10%;">Buy now</a>
				<a href="/contact" class="button" style="text-transform: none;">Contact for in-company</a>
				<br /><br />
				{% endfor %}
			{% endif %}
		</div>

		{{ page.content }}

	</div>

</section>